// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 body {
    font-family: 'Abel', sans-serif;    
    /* background-color: black; */
    background-image: url("homepage4.jpg");
    background-size: cover;
    // animation: slideBg 10s linear infinite 5s
  }